## Deliverable 3. Create a Travel Itinerary Map.

In [79]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Ushuaia,AR,33.46,light snow,-54.8000,-68.3000,Albatros Hotel
1,3,Emerald,AU,51.94,clear sky,-23.5333,148.1667,The Irish Village
2,7,Busselton,AU,57.09,broken clouds,-33.6500,115.3333,Observatory Guest House
3,8,Mataura,NZ,45.48,overcast clouds,-46.1927,168.8643,Ellie's Villa
4,10,Codrington,AU,49.32,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [80]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Hofn"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Hofn"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Vestmannaeyjar"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Grindavik" ] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Olafsvik"]

In [70]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
160,488,Hofn,IS,52.3,overcast clouds,64.2539,-15.2082,Hótel Höfn

In [174]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()
start = np.append(start,vacation_start["Lng"].to_numpy())
start = tuple(start)

end = (64.2530,-15.2080)


stop1 = vacation_stop1["Lat"].to_numpy()
stop1 = np.append(stop1,vacation_stop1["Lng"].to_numpy())


stop2 = vacation_stop2["Lat"].to_numpy()
stop2 = np.append(stop2,vacation_stop2["Lng"].to_numpy())

stop3 = vacation_stop3["Lat"].to_numpy()
stop3 = np.append(stop3,vacation_stop3["Lng"].to_numpy())

In [176]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
atob = gmaps.directions_layer(start, end,waypoints=[stop1, stop2 , stop3], travel_mode='DRIVING')
fig.add_layer(atob)
fig

Figure(layout=FigureLayout(height='420px'))

In [182]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,488,Hofn,IS,52.30,overcast clouds,64.2539,-15.2082,Hótel Höfn
1,390,Vestmannaeyjar,IS,49.19,broken clouds,63.4427,-20.2734,Glamping & Camping
2,578,Grindavik,IS,53.55,overcast clouds,63.8424,-22.4338,Northern Light Inn & Max's Restaurant
3,416,Olafsvik,IS,49.37,overcast clouds,64.8945,-23.7142,Hotel Olafsvik

In [183]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [192]:
# 11a. Add a marker layer for each city to the map.
# 11a. Add a marker layer for each city to the map. 
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=start, zoom_level=4.0)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))